.circle{
    position: fixed;
    transition-property: width, height;
    transition-duration: 2s;
    background-color: blue;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid red;
    border-radius: 50%;
}

.message-ball{
    font-size: 20px;
    color: yellow;
    text-align: center;
    line-height:100px ;
    vertical-align: middle;
}